<div>
  <div style="margin: 50px;" *ngIf="!finished && !loading">
    <p style="color: red;" *ngIf="errorMessage"> {{ errorMessage }}</p>
    <h2 class="title">Ver</h2>
    <form>
      <div *ngFor="let key of keys; let i = index;">
        <div *ngIf="key !== 'id'">
          <label for="key"> {{key}} </label><br>
          <input [(ngModel)]="$MODELFILENAME$[key]" type="text" placeholder="{{key}}" name="{{key}}">
        </div>
      </div>
      <div>
        <br>
        <button *ngIf="!loading" (click)="confirm()"> Editar</button>
        <div *ngIf="showConfirm">
          <p> ¿Seguro que quiere editar esta entrada?</p>
          <button (click)="update()"> Editar</button>
          <button (click)="cancel()"> Cancelar</button>
        </div>
      </div>
    </form>
  </div>
  <div style="margin: 50px;" *ngIf="finished">
    <h2> {{ successMessage }} </h2>
    <a [routerLink]="[ '/$TABLE_NAME$/' + $MODELFILENAME$.id]" style="margin-left: 10px;">Ver</a>
    <a [routerLink]="[ '/$TABLE_NAME$']" style="margin-left: 10px;">Indice</a>
  </div>
  <div style="margin: 50px;" *ngIf="loading">
    <p > Editando... </p>
    <p style="color: red;" *ngIf="errorMessage"> {{ errorMessage }}</p>
  </div>
</div>