<div>
  <div style="margin: 50px;" *ngIf="!loading">
    <h2 class="title">Todos <span style="margin-left: 10px;"> <a [routerLink]="[ '/$SNAKE_CASE$/new']">Crear Nuevo</a> </span></h2>
    <table>
      <thead>
        <th *ngFor="let key of keys; let i = index;">
          {{key}}
        </th>
        <th></th>
        <th></th>
        <th></th>        
      </thead>
      <tbody>
        <tr *ngFor="let $MODELFILENAME$ of $MODELFILENAME$s;">
          <td *ngFor="let key of keys; let i = index;">
            {{$MODELFILENAME$[key]}}
          </td>
          <td>
            <a [routerLink]="[ '/$SNAKE_CASE$/' + $MODELFILENAME$.id]">Ver</a>
          </td>
          <td>
            <a [routerLink]="[ '/$SNAKE_CASE$/' + $MODELFILENAME$.id + '/edit']">Editar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="margin: 50px;" *ngIf="loading">
    <h2> Cargando... </h2>
    <p style="color: red;" *ngIf="errorMessage"> {{ errorMessage }}</p>
  </div>
</div>